body {
    font-family: 'Times New Roman', Times, serif;
    background: #d9e6ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 750px;
    background: #eef3f6;
    border: 2px solid #6b7c86;
}

.sub-barra {
    background: linear-gradient(#000, #333);
    color: white;
    padding: 6px 10px;
    font-weight: bold;
}

.titulo {
    background: linear-gradient(#2e6ca8, #0d3f73);
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tabla-container {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: linear-gradient(#225079, #1f4d6b);
    color: white;
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
    height: 20px;
}

.seleccionado {
    color: white;
    font-size: 13px;
}
.seleccionado td:nth-child(1) {
    background: #2e6ca8;
}
.seleccionado td:nth-child(2) {
    background: #0d4d87;
}
.seleccionado td:nth-child(3) {
    background: #2e6ca8;
}

.botones {
    text-align: center;
    padding:  10px;
}

.btn {
    background:linear-gradient(to bottom,#2484b4,#00131d);
    border: 1px solid #555;
    color: white;
    border-color: white;
    padding: 4px 25px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    
}