*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#e6e6e6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.contenedor{
    width:600px; /* mas angosto */
    background:white;
    border:2px solid #8a8a8a;
    position:center;
    height: 500px;
}

/* IMAGENES */
.banner-top{
    width:100%;
    display:block;
}

.banner-bottom{
    width:100%;
    display:block;
    margin-top:70px;
}

/* LOGIN */
.login-box{

    width:400px;
    background:#cfe3f7;
    margin: 20px auto;
    
    border:1px solid #9fb8cf;
    
}

.titulo-login{
    align-items:center ;
    display: flex;
    font-size:36px;
    font-weight:bold;
    color:#1a4872;
}

.linea{
    width:100%;
    height:2px;
    background:#5c9fd4;
    margin:10px 0 20px 0;
}

.campo{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.campo label{
    width:220px;
    font-size:16px;
    color:#2f5f8a;
}

.campo input{
    width:170px;
    height:30px;
    border:2px solid #b5b5b5;
    padding-left:8px;
    font-size:16px;
}

/* PARTE ABAJO LOGIN */
.inferior-login{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid #9ab7d0;
    padding-top:15px;
}

.inferior-login p{
    font-size:14px;
    font-weight:bold;
    color:#203a57;
}

.inferior-login button{
    width:90px;
    height:34px;
    border:2px solid #8c8c8c;
    background:linear-gradient(to bottom,#ffffff,#d6d6d6);
    cursor:pointer;
    font-size:16px;
}
.inferior-login button{
    background: linear-gradient(rgb(128, 189, 189),white);
    
}
